<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Day Schedules</title>
<!-- cdn for modernizr, if you haven't included it already -->
<script src="static/js/jquery-2.1.4.min.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="static/js/js-webshim-1.15.10/polyfiller.js"></script>
<script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
<style>
table.form td { vertical-align: bottom; }
</style>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Day Schedules</h1>
<form action="{{ url_for('days') }}" method="post">
{{ form.csrf_token }}
<table class="form">
<tr>
<td>&nbsp;</td>
<td>Day start</td>
<td>Lunch start</td>
<td>Lunch end</td>
<td>Day end</td>
</tr>
<tr>
<td>{{ form.enabled_0(size=10) }}&nbsp;Monday</td>
<td>{{ form.day_start_time_0(size=10) }}</td>
<td>{{ form.lunch_start_time_0(size=10) }}</td>
<td>{{ form.lunch_end_time_0(size=10) }}</td>
<td>{{ form.day_end_time_0(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_1(size=10) }}&nbsp;Tuesday</td>
<td>{{ form.day_start_time_1(size=10) }}</td>
<td>{{ form.lunch_start_time_1(size=10) }}</td>
<td>{{ form.lunch_end_time_1(size=10) }}</td>
<td>{{ form.day_end_time_1(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_2(size=10) }}&nbsp;Wednesday</td>
<td>{{ form.day_start_time_2(size=10) }}</td>
<td>{{ form.lunch_start_time_2(size=10) }}</td>
<td>{{ form.lunch_end_time_2(size=10) }}</td>
<td>{{ form.day_end_time_2(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_3(size=10) }}&nbsp;Thursday</td>
<td>{{ form.day_start_time_3(size=10) }}</td>
<td>{{ form.lunch_start_time_3(size=10) }}</td>
<td>{{ form.lunch_end_time_3(size=10) }}</td>
<td>{{ form.day_end_time_3(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_4(size=10) }}&nbsp;Friday</td>
<td>{{ form.day_start_time_4(size=10) }}</td>
<td>{{ form.lunch_start_time_4(size=10) }}</td>
<td>{{ form.lunch_end_time_4(size=10) }}</td>
<td>{{ form.day_end_time_4(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_5(size=10) }}&nbsp;Saturday</td>
<td>{{ form.day_start_time_5(size=10) }}</td>
<td>{{ form.lunch_start_time_5(size=10) }}</td>
<td>{{ form.lunch_end_time_5(size=10) }}</td>
<td>{{ form.day_end_time_5(size=10) }}</td>
</tr>
<tr>
<td>{{ form.enabled_6(size=10) }}&nbsp;Sunday</td>
<td>{{ form.day_start_time_6(size=10) }}</td>
<td>{{ form.lunch_start_time_6(size=10) }}</td>
<td>{{ form.lunch_end_time_6(size=10) }}</td>
<td>{{ form.day_end_time_6(size=10) }}</td>
</tr>
</table>
<p><input type="submit" name="submit" value="Submit">
</form>
<p><a href="{{ url_for('index') }}">Cancel</a></p>
</body>
</html>
