<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Scheduling Preferences</title>
<!-- cdn for modernizr, if you haven't included it already -->
<script src="static/js/jquery-2.1.4.min.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="static/js/js-webshim-1.15.10/polyfiller.js"></script>
<script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
<style>
table.form td { vertical-align: bottom; }
</style>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Scheduling Preferences</h1>
<!-- 
<p>Auth type: {{ user.auth_type }}</p>
<p>Email: {{ user.email }}</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
<p>Google ID: {{ user.google_id }}</p>
<p>DB ID: {{ user.get_id() }}</p>
-->
<form action="{{ url_for('prefs') }}" method="post">
{{ form.csrf_token }}
<p>Title<br>
{{ form.title(size=60) }}</p>
<p>Display name<br>
{{ form.display_name(size=40) }}</p>
<p>Starting day of week on<br>
booking calendar view<br>
{{ form.weekday_start }}</p>
<p>Location<br>
{{ form.location(size=40) }}</p>
<p>Time zone<br>
{{ form.timezone }}</p>
<p>Interval between conferences, minutes<br>
(including passing time)<br>
{{ form.interval(size=10) }}</p>
<p>Duration of conference, minutes<br>
(actual time of conference session)<br>
{{ form.duration(size=10) }}</p>
<p>First day for conferences (required)<br>
{{ form.first_day_scheduled }}</p>
<p>Last day for conferences (required)<br>
{{ form.last_day_scheduled  }}</p>
<p>Start date and time for booking access<br>
(optional)<br>
{{ form.booking_start_date }}&nbsp;{{ form.booking_start_time(size=10, placeholder='like 10:00 AM') }}</p>
<p>End date and time for booking access<br>
(optional)<br>
{{ form.booking_end_date }}&nbsp;{{ form.booking_end_time(size=10, placeholder='like 10:00 AM') }}</p>
<p>Minimum booking notice period, hours<br>
{{ form.minimum_notice_hours(size=10) }}</p>
<p><input type="submit" name="submit" value="Submit">
</form>
<p><a href="{{ url_for('index') }}">Cancel</a></p>
</body>
</html>
